<launch>

  <!-- Arguments -->
  <arg name="map_file" default="$(find agvs_slam)/map/agvs_gmapping.yaml" />
  <arg name="open_rviz" default="true"/>

  <!-- Agvs -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find agv_description)/xacro/agv.xacro'" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find agvs_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find agvs_navigation)/launch/move_base.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find agvs_navigation)/rviz/agvs_navigation.rviz" />
  </group>

  <!-- cmd_vel transfer to agvs topic -->
	<include file="$(find cmd_vel_transfer_to_agvs)/launch/cmd_vel_transfer_to_agvs.launch" />

</launch>
