<?xml version="1.0"?>
<robot>

    <gazebo>
        <plugin name="agvs_wheel_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <updateRate>100.0</updateRate>
            <robotNamespace>/agvs_wheel</robotNamespace>
            <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
            <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
            <leftRearJoint>back_left_wheel_joint</leftRearJoint>
            <rightRearJoint>back_right_wheel_joint</rightRearJoint>
            <wheelSeparation>0.4</wheelSeparation>
            <wheelDiameter>0.215</wheelDiameter>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <torque>20</torque>
            <topicName>cmd_vel</topicName>
            <odometryFrame>odom</odometryFrame> 
            <odometryTopic>odom</odometryTopic> 
            <broadcastTF>true</broadcastTF>
            <publishTf>true</publishTf>
            <publishWheelTF>true</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
        </plugin>
    </gazebo>


    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/agvs</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>
<!--
    <gazebo>
        <plugin name="agvs_motor_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <updateRate>100.0</updateRate>
            <robotNamespace>/agvs_motor_wheel</robotNamespace>
            <leftFrontJoint>front_left_motor_wheel_joint</leftFrontJoint>
            <rightFrontJoint>front_right_motor_wheel_joint</rightFrontJoint>
            <leftRearJoint>back_left_motor_wheel_joint</leftRearJoint>
            <rightRearJoint>back_right_motor_wheel_joint</rightRearJoint>
            <wheelSeparation>0.4</wheelSeparation>
            <wheelDiameter>0.215</wheelDiameter>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <torque>20</torque>
            <topicName>cmd_vel</topicName>
            <odometryFrame>odom</odometryFrame> 
            <odometryTopic>odom</odometryTopic> 
            <broadcastTF>true</broadcastTF>
            <publishTf>true</publishTf>
            <publishWheelTF>true</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
        </plugin>
    </gazebo>
-->
</robot>